<h1>Welcome</h1>
<% if current_doctor %>
	<% if current_doctor.admin %>
		<%= link_to 'New', new_department_path %>
	<% end %>	
<% end %>	
<%= link_to 'List', departments_path %>
<%= link_to 'Sign In', signin_path %>
<%= link_to 'Patient', new_patient_path %>
<% if current_doctor %>
	<%= link_to 'Appointment', appointments_path %>
<% else %>	
	<%= link_to 'Appointment', new_appointment_path %>
<% end %>
