<!DOCTYPE html>
<html>
<head>
  <title>OnlinePatient</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_doctor %>
	<p>Logged in as <%= current_doctor.name %></p>
	<p><%= link_to 'Sign Out', signout_path %></p>
<% end %>	
<p id='success'><%= flash[:success] if flash[:success].present? %></p>
<p class='error'><%= flash[:error] if flash[:error].present? %></p>
<%= yield %>

</body>
</html>
